.board-container {
	height: 37rem;
	border: 2px solid black;
	background-color: #ced4da;
	overflow-x: hidden;
	padding: 1rem 1.5rem;
	text-wrap: wrap;
}

h1 {
	text-align: center;
}

@media (max-width: 850px) {
	.board-container {
		height: 15rem;
		padding: 0.5rem 1rem;
	}
	h1 {
		font-size: 18px;
	}
}
